.wrapper {
  /* Frame 22 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;

  position: absolute;
  width: 210px;
  height: 116px;

  background: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 16px;
}

.wrapper .content {
  /* Frame 23 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 170px;
  height: 76px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content .text {
  /* 모든 국민은 법률이 정하는 바에 의하여 국... */

  width: 170px;
  height: 50px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content .subtext {
  /* Frame 33 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 170px;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.subtext .date {
  /* 24.03.11 */

  width: 80px;
  height: 16px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  color: #666666;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.subtext .minute {
  /* 3분전 */

  width: 80px;
  height: 14px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  text-align: right;

  color: #0cb46c;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}
